.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 66%;
}

.slide h2.shout {
  font-size: 3.2em;
  line-height: 1.2;
}

.slide.toc h2 {
  display: none;
}

.text.slide p {
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: -.5px;
  font-weight: bold;
  margin: 1.5em 0;
  color: #453688;
}

.prefix {
  opacity: .5;
}

#architecture img {
  top: 67%;
  left: 67%;
  height: 134%;
  max-height: none;
}

#end h2 {
  text-align: center;
  margin: 3em 0;
  font-size: 2em;
}
